<tr>
	<td>{{name}}</td>
	<td>{{description}}</td>
	<td></td>
</tr>
<!--<div class="tab-pane {{active}}" id="waypoint-{{id}}">
	<div class="control-group">
		<label class="control-label" for="input-{{id}}-description">{{name}} Description</label>
		<div class="controls">
			<textarea name="{{id}}-description" id="input-{{id}}-description"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Image</label>
		<div class="controls" data-image-chooser="{{id}}-image">
			{{> imageChooser}}
		</div>
	</div>
</div>-->