<tr data-waypoint-id="{{id}}">
	<td>{{name}}</td>
	<td>{{description}}</td>
	<td><img data-waypoint-image="{{id}}"></td>
	<td>
		{{^noDelete}}
			<a href="#" data-waypoint-delete="{{id}}">
				<i class="icon-minus-sign"></i>
			</a>
		{{/noDelete}}
	</td>
</tr>
