<tr data-waypoint-id="{{id}}">
	<td>{{name}}</td>
	<td>{{description}}</td>
	<td data-waypoint-image><i class="icon-picture img-polaroid"></i></td>
	<td>
		{{#position}}
		<img src="http://maps.google.com/maps/api/staticmap?center={{lat}},{{lng}}&amp;zoom=15&amp;markers=size:small|{{lat}},{{lng}}&amp;size=100x100&amp;sensor={{sensor}}&amp;key={{gmapsKey}}" width="100" height="100" class="img-polaroid">
		{{/position}}
	</td>
	<td>
		{{^noDelete}}
			<a href="#" data-waypoint-delete="{{id}}">
				<i class="icon-minus-sign"></i>
			</a>
		{{/noDelete}}
	</td>
</tr>
