.DS_Store
node_modules

build/android/bin/
build/android/assets/www
build/android/res/drawable*/icon.png
build/android/res/drawable*/ic_launcher.png

build/blackberry/build/
build/blackberry/www

xcuserdata
project.xcworkspace
*.pbxuser
*.perspective
*.perspectivev3
build/ios/www
build/ios/*/Resources/icons/icon*.png
build/ios/*/Resources/splash/Default*.png

build/webapp

html/css

nbproject/private
