<div class="tab-pane {{active}}" id="waypoint-{{idx}}">
	<div class="control-group">
		<label class="control-label" for="input-{{idx}}-description">{{name}} Description</label>
		<div class="controls">
			<textarea name="{{idx}}-description" id="input-{{idx}}-description"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Image</label>
		<div class="controls" data-image-chooser="{{idx}}-image">
			{{> imageChooser}}
		</div>
	</div>
</div>
