{{> nav}}
<div class="container">	
	<h1><i class="icon-road"></i> {{name}}</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Hole Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#holes}}
				{{> hole}}
			{{/holes}}
		</tbody>
	</table>
	<div class="form-actions">
		<a class="btn btn-primary" href="#courses/{{slug}}/holes/new"><i class="icon-plus"></i> Add</a>
	</div>
</div>
