<div class="container">
	{{> nav}}
	<div class="hero-unit">
		<h1>Golf</h1>
		<p>Welcome to Southampton Frisbee Golf Course!</p>
		<p>
			<a href="#start" class="btn btn-primary btn-large"><i class="icon-flag"></i> Start</a>
		</p>
	</div>
</div>
