<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">Golf</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li {{#nav.home}}class="active"{{/nav.home}}><a href="#">Home</a></li>
					<li {{#nav.courses}}class="active"{{/nav.courses}}><a href="#courses">Courses</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
